//COLORS
$color-primary: #5fb950;
//This next one was added
$color-primary-transparent: #60b950c0;
$color-primary-light: #3fd16f;
$color-primary-dark:#209e5b;

$color-secondary-light: #b65800;
//This next one was added
$color-secondary-light-transparent: #b65800b6;
$color-secondary-dark: #351902;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-horizontal: 6rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
