.header {
  width: 100%;
  max-width: 100vw;
  height: 93vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  animation: slideBg 10s ease-in-out infinite 0s;
  background-attachment: fixed;
  position: relative;

  //Commmented out beacuse of the implementation of Slides
  
  // background-image: linear-gradient(
  //     to right bottom,
  //     rgba($color-primary, 0.515),
  //     rgba($color-primary, 0.5)
  //   ),
  //   url(../img/bike_landscape2.jpg);

  // @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), only screen and (min-width: 125em), only screen and  (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em) {
  //     background-image: linear-gradient(
  //         to right bottom,
  //         rgba($color-primary-light, 0.815),
  //         rgba($color-primary-dark, 0.8) ),
  //     url(../img/bike_landscape2-large.jpg);
  // }

  // To make a relative cut at the bottom of the header:

  // @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
  //     -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  //     clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  //     height: 95vh;
  // }

  // @include respond(phone) {
  //     -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  //     clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  // }

  .filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100vw;
    height: 93vh;
    background-image: linear-gradient(
      to right bottom,
      rgba($color-primary, 0.515),
      rgba($color-primary, 0.5)
    );
  }

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
    img {
      width: 10rem;
    }
  }

  &__logo {
    height: 3.5rem;
  }

  &__text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    &--icon {
      width: 400px;
      fill: white;
      margin-bottom: 10rem;
    }
  }
}
