.feature-box {
    background-color: rgba($color-white, .8);
    min-height: 35rem;;
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 2rem 2rem 7rem rgba($color-black, 15);    
    transition: transform .5s, box-shadow .5s;

    @include respond(tab-port){
        padding: 2rem;
    }

    &__icon{
        font-size: 6rem;
        margin-bottom: 4rem;
        display: inline-block;
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        -webkit-background-clip: text;
        color: transparent;


        @include respond(tab-port){
            margin-bottom: 0;
        }
    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
        box-shadow: 2.5rem 3.5rem 7rem rgba($color-black, 15); 
    }
    
}