//Compleatly new Component

//For the filter button
.filter-btn {
  .buttons {
    list-style: none;
    text-align: center;
    margin-bottom: 5rem;

    li {
      width: max-content;
      display: inline-block;
      padding: 0 1rem;
      color: $color-grey-dark;
      font-size: $default-font-size;
      margin: 0px 15px;
      cursor: pointer;
      transition: transform 0.5s;

      &:hover:not(.active) {
        transform: translateY(-1rem);
        text-decoration: underline;
      }
    }
    
    .prox::before {
      content: "Proximamente";
      color: crimson;
      transform: translateX(3rem) rotate(-30deg) ;
      display:inline-block;
    }

    .active {
      background-color: $color-primary-transparent;
      color: $color-white;
      border-radius: 3px;
      padding: 0 1rem;
      transform: skewX(-12deg) translateY(-1rem);
    }
  }
}

//For the different images and product container
.products-container {
  text-align: center;
}

.product {
  display: inline-block;
  margin: 5rem;
  border: 1px solid $color-primary-dark;
  border-radius: 3px;
  box-shadow: 1rem 0.8rem 1rem rgba($color-secondary-light, 0.5);
  transition: all 0.5s;

  &_text {
    font-size: 1.5rem;
    text-align: left;
    margin: 0 0 2rem 2rem;

    h2 {
      color: $color-grey-light-1;
      background-color: $color-primary-transparent;
      width: fit-content;
      border-radius: 3px;
      padding: 0 1rem;
      transform: skewX(-12deg) translateY(-3rem);
    }

    ul {
      margin-top: -2rem;
    }

    p {
      span {
        color: $color-primary;
      }
    }

    small {
      float: right;
      margin: 0 2rem 1rem;
      transition: all 0.5s;
      text-decoration: underline;
    }
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
    box-shadow: 1.1rem 2rem 1rem rgba($color-secondary-light, 0.5);
    span {
      color: $color-primary-light;
    }
    small {
      transform: scale(1.3);
    }
  }

  &.soon{
    filter: grayscale(.5);

    &::before{
      content: "Proximamente";
      position: absolute;
      font-size: 5rem;
      background-color: $color-primary-transparent;
      color: $color-white;
      transform: translate(-50%, 90%) rotate(30deg);
    }
  }
}
